@import "../../themes/mixins";
@import "../../themes/variables";
// Restaurants.scss
.restaurants-page {
  overflow: hidden;
  .restaurant-header {
    @include titles_style;
    letter-spacing: 0.3vw;
    font-size: 4.8vw;
    margin-top: 4.4vw;
    margin-bottom: 0vw;
  }
  .map-image-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    .map-img {
      width: 100vw;
      height: 40.5vw;
    }
  }
  .no-data {
    font-size: 1vw;
  }
  .empty-data-message {
    display: flex;
    align-items: center;
    justify-content: center;
    @include font-style;
    font-size: 5vw;
    font-weight: 400;
    opacity: 0.6;
    margin-top: 0vw;
    // margin-bottom: 86vw;
  }
  .sad-chef {
    height: 40vw;
    opacity: 0.6;
  }
  .container-content {
    overflow: scroll;
    height: 170vw;
    width: 100%;
  }
  .no-more-data-message {
    display: flex;
    align-items: center;
    justify-content: center;
    @include font-style;
    font-size: 6vw;
    font-weight: 400;
    opacity: 0.6;
    margin-top: -7vw;
  }
}

@include desktop {
  .restaurants-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    .restaurant-header {
      display: none;
    }
    .no-data {
      font-size: 1vw;
    }
    .empty-data-message {
      display: flex;
      align-items: center;
      justify-content: center;
      @include font-style;
      font-size: 3vw;
      font-weight: 400;
      opacity: 0.6;
    }
    .sad-chef {
      height: 20vw;
      opacity: 0.6;
    }
    .container-content {
      overflow: scroll;
      height: 67vw;
      width: 100%;
    }
  }
}
